﻿@{
    ViewBag.Title = "Asset ITL Trisakti";
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sistem Informasi Asset</h1>
                    @*<h4 class="m-0">Hi,...@ViewBag.User</h4>*@
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/")Home/Index">Home</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>
    </section>
</div>