﻿@{
    ViewBag.Title = "ITL Asset - Edit Jenis Katalog";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tambah Job Vacancy</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/")Home/Index">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Content("~/")JenisKatalog/Index">List Jenis Katalog</a></li>
                        <li class="breadcrumb-item active">Ubah Jenis Katalog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Add Form</h3>
                        </div>
                        <form id="form_job">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="judul_job">Name</label>
                                    <input type="text" class="form-control form-control-border border-width-2" id="name" value="@ViewBag.data_jenis_katalog.name">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary btn-block col-md-3 float-right btn-add" style="margin-bottom: 20px;"><i class="fa fa-folder-plus"></i> Tambah</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

@section Scripts {
    <script language="JavaScript" type="text/javascript">

        $(".btn-add").on("click", function () {
            console.log("btn-add");
            if ($("#name").val == "")
            {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Peringatan',
                    subtitle: '',
                    body: 'Gagal : Data Tidak Lengkap, cek kembali'
                });
            }
            else
            {
                var fd = new FormData();
                fd.append('id', '@ViewBag.data_jenis_katalog.id');
                fd.append('name', $("#name").val());

                console.log(fd);

                $.ajax({
                    method: "post",
                    url: "@Url.Content("~/")JenisKatalog/update_jenis_katalog",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (d) {
                        if (d.code == 1) {
                            BootstrapDialog.show({
                                closable: false,
                                title: 'Konfirmasi',
                                message: "<p>Data Berhasil di ubah</p>",
                                buttons: [{
                                    label: 'Close',
                                    action: function (dialog) {
                                        window.location = '@Url.Content("~/")JenisKatalog/Index';
                                    }
                                }]
                            });
                        }
                        else if (d.code == 0) {
                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                title: 'Peringatan',
                                subtitle: '',
                                body: 'Gagal : ' + d.message,
                            });
                        }
                    },
                });
            }
        });

    </script>
}