﻿
@{
    ViewBag.Layout = null;
    ViewBag.Title = "_Header";
}

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Content("~/")Account/LogOut" role="button">
                Logout
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->

