﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - ITL-TRISAKTI</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link href="~/AdminLTE-3.1.0-rc/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    @*<link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/jqvmap/jqvmap.min.css">*@
    <!-- Theme style -->
    <link href="~/AdminLTE-3.1.0-rc/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/summernote/summernote-bs4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap Dialog-->
    <link href="https://cdn.jsdelivr.net/gh/GedMarc/bootstrap4-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_LeftMenu")

        @RenderBody()

        <footer class="main-footer">
            <strong></strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version 0.1</b>
            </div>
        </footer>

    </div>

    <!-- jQuery -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    @*<script src="~/AdminLTE-3.1.0-rc/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/AdminLTE-3.1.0-rc/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>*@
    <!-- jQuery Knob Chart -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.1.0-rc/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.1.0-rc/dist/js/demo.js"></script>
    <!-- InputMask -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- Bootstrab Dialog-->
    <script src="https://cdn.jsdelivr.net/gh/GedMarc/bootstrap4-dialog/dist/js/bootstrap-dialog.js"></script>
    <!-- Select2 -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/select2/js/select2.full.min.js"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/AdminLTE-3.1.0-rc/dist/js/pages/dashboard.js"></script>*@
    <!-- DataTables  & Plugins -->
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-3.1.0-rc/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>