﻿

@section Styles {
    <style>
        .user-panel img {
            height: 34px;
            width: 34px;
        }
    </style>
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        @*<img src="~/AdminLTE-3.1.0-rc/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
        <span class="brand-text font-weight-light">Asset ITL Trisakti</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @*<img src="data:image/png;base64," class="img-circle elevation-2 foto-kecil" alt="User Image" height="34px;">*@
                <img src="~/AdminLTE-3.1.0-rc/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Harry Okta Maulana</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="@Url.Content("~/")Lokasi/Index" class="nav-link">
                        <i class="nav-icon fas fa-map-marked-alt"></i>
                        <p>
                            Master Lokasi
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Content("~/")JenisKatalog/Index" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Master Jenis Katalog
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Content("~/")Katalog/Index" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Katalog
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Content("~/")Item/Index" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Item Asset
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Content("~/")Account/LogOut" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Log Out
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->