﻿@{
    ViewBag.Title = "ITL-Asset Lokasi";
}

@section Styles {
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0-rc/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <style>
        td.nowarp {
            white-space: nowrap;
        }
    </style>
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Master Lokasi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/")">Home</a></li>
                        <li class="breadcrumb-item active">Master Lokasi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <a type="button" class="btn btn-primary btn-block" style="margin-bottom: 20px;" href="@Url.Content("~/")Lokasi/tambah_lokasi"><i class="fa fa-folder-plus"></i> Tambah</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable</h3>
                        </div>
                        <div class="card-body">
                            <table id="tablel" class="table table-bordered table-hover display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nama</th>
                                        <th>Kode</th>
                                        <th>Created On</th>
                                        <th>Created By</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script language="JavaScript" type="text/javascript">
    var oTable;
    $(function () {

        function hapus_lokasi(id) {
            $.ajax({
                method: "post",
                url: "@Url.Content("~/")Lokasi/hapus_lokasi",
                data: {
                    id: id,
                },
                success: function (d) {
                    if (d.code == 1) {
                        BootstrapDialog.show({
                            closable: false,
                            title: 'Konfirmasi',
                            message: "<p>Data Berhasil di Hapus</p>",
                            buttons: [{
                                label: 'Close',
                                action: function (dialog) {
                                    oTable.draw();
                                    dialog.close();
                                }
                            }]
                        });
                    }
                    else if (d.code == 0) {
                        $(document).Toasts('create', {
                            class: 'bg-danger',
                            title: 'Peringatan',
                            subtitle: '',
                            body: 'Gagal : ' + d.message,
                        });
                    }
                },
            });
        }

        var displayColumns = [
            { "data": null },
            { "data": "name" },
            { "data": "kd_lokasi" },
            { "data": "created_on" },
			{ "data": "created_by" },
        ];

        oTable = $('#tablel').DataTable({
            "paging": true,
            "ordering": true,
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "scrollX": true,
            "ajax": {
                "url": "@Url.Content("~/")Lokasi/List",
                "type": "POST",
                "data": function (d) {

                },
            },
            "columns": displayColumns,
            "columnDefs": [
                 {
                     "render": function (data, type, row) {
                         var html = "";

                         html += "<button class='btn btn-outline-danger' style='margin-right: 3px;' onclick='hapus_lokasi(\"" + row.id + "\")'><i class='fa fa-trash'></i></button>";
                         html += "<a class='btn btn-outline-success' href= '@Url.Content("~/")Lokasi/edit_lokasi?id=" + row.id + "'> <i class='fa fa-pencil-alt'></i> Detail</a> ";

                        return html;
                    },
                    "targets": 0,
                    "class": "nowarp",
                    "orderable": false,
                 },
            ],
        });

    });
    </script>
}

