﻿@{
    ViewBag.Title = "ITL Asset - Add Item";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tambah Item</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Content("~/")Home/Index">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Content("~/")Katalog/Index">List Item</a></li>
                        <li class="breadcrumb-item active">Tambah Item</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Add Form</h3>
                        </div>
                        <form id="form_job">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="nama">Name</label>
                                    <input type="text" class="form-control form-control-border border-width-2" id="name">
                                </div>
                                <div class="form-group">
                                    <label>Lokasi</label>
                                    <select class="form-control form-control-border border-width-2 select2" id="id_lokasi">
                                        <option value="">-</option>
                                        @foreach (var item in @ViewBag.ref_lokasi)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Katalog</label>
                                    <select class="form-control form-control-border border-width-2 select2" id="id_katalog">
                                        <option value="">-</option>
                                        @foreach (var item in @ViewBag.ref_katalog)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nama">No Inventaris</label>
                                    <input type="text" class="form-control form-control-border border-width-2" id="no_inventaris">
                                </div>
                                <div class="form-group">
                                    <label>Lokasi</label>
                                    <select class="form-control form-control-border border-width-2 select2" id="kondisi">
                                        <option value="">-</option>
                                        <option value="Baik">Baik</option>
                                        <option value="Rusak">Rusak</option>
                                        <option value="Hilang">Hilang</option>
                                        <option value="Diperbaiki">Diperbaiki</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nama">No Ajuan</label>
                                    <input type="text" class="form-control form-control-border border-width-2" id="no_ajuan">
                                </div>
                                <div class="form-group">
                                    <label for="nama">Harga</label>
                                    <input type="text" class="form-control form-control-border border-width-2" id="harga">
                                </div>
                                <div class="form-group">
                                    <label for="nama">Garansi (Bulan)</label>
                                    <input type="text" class="form-control form-control-border border-width-2" id="garansi">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary btn-block col-md-3 float-right btn-add" style="margin-bottom: 20px;"><i class="fa fa-folder-plus"></i> Tambah</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

@section Scripts {
    <script language="JavaScript" type="text/javascript">

        $(".btn-add").on("click", function () {
            console.log("btn-add");
            if ($("#name").val == "" || $("#id_lokasi").val == "" || $("#id_katalog").val == "" ||
                $("#no_inventaris").val == "" || $("#kondisi").val == "" || $("#no_ajuan").val == "" ||
                $("#harga").val == "" || $("#garansi").val == "")
            {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Peringatan',
                    subtitle: '',
                    body: 'Data Tidak Lengkap'
                });
            }
            else
            {
                var fd = new FormData();
                fd.append('name', $("#name").val());
                fd.append('id_lokasi', $("#id_lokasi").val());
                fd.append('id_katalog', $("#id_katalog").val());
                fd.append('no_inventaris', $("#no_inventaris").val());
                fd.append('kondisi', $("#kondisi").val());
                fd.append('no_ajuan', $("#no_ajuan").val());
                fd.append('harga', $("#harga").val());
                fd.append('garansi', $("#garansi").val());

                console.log(fd);

                $.ajax({
                    method: "post",
                    url: "@Url.Content("~/")Item/simpan_item",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (d) {
                        if (d.code == 1) {
                            BootstrapDialog.show({
                                closable: false,
                                title: 'Konfirmasi',
                                message: "<p>Data Berhasil di simpan</p>",
                                buttons: [{
                                    label: 'Close',
                                    action: function (dialog) {
                                        window.location = '@Url.Content("~/")Item/Index';
                                    }
                                }]
                            });
                        }
                        else if (d.code == 0) {
                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                title: 'Peringatan',
                                subtitle: '',
                                body: 'Gagal : ' + d.message,
                            });
                        }
                    },
                });
            }
        });

    </script>
}